<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--dao层实现类-->
    <bean id="crmDaoImpl" class="com.snaillemon.ss.dao.impl.CrmDaoImpl"/>

    <!--service层实现类-->
    <bean id="crmService" class="com.snaillemon.ss.service.impl.CrmServiceImpl">
        <property name="crmDao" ref="crmDaoImpl"/>
    </bean>

    <!--action-->
    <bean id="crmAction" class="com.snaillemon.ss.action.CrmAction" scope="prototype">
        <property name="crmService" ref="crmService"/>
    </bean>

</beans>